@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Write your global styles here, in PostCSS syntax */
html,
body {
  @apply h-full overflow-hidden;
}

  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust as needed */
  }
  .icon {
    width: 24px; /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
  }

.nav-bar {
    @apply bg-secondary-900 text-on-secondary-token;
}