@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 209 86% 25%;
    --primary-foreground: 0 0% 100%;

    --secondary: 206 73% 59%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;

    --radius: 0.3rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Write your global styles here, in PostCSS syntax */
html,
body {
  @apply h-full overflow-hidden;
  /*@apply text-sm;*/
}

/*.radio-item {
  @apply text-sm;
}*/

.h5 {
  @apply text-primary-500;
  font-weight: bold;
}

.app-bar {
  height: 48px;
  padding: 1rem;
  /*font-size: small;*/
}
.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust as needed */
}
.icon {
  width: 16px; /* Adjust the size as needed */
  height: 16px; /* Adjust the size as needed */
}

.container-nav {
  @apply bg-primary-500 text-on-primary-token;
}

.nav-bar {
  @apply bg-primary-500 text-on-primary-token;
}

.app-bar-default .app-rail-anchor :hover {
  @apply bg-secondary-500 text-on-primary-token;
}

.app-bar-default .app-rail-anchor :selected {
  @apply bg-secondary-500 text-on-primary-token;
}

.app-bar .h4 {
  @apply text-primary-500;
  font-weight: 500;
}

.bg-dark {
  background-color: #000;
  color: rgba(var(--theme-font-color-dark));
}

.app-rail-label {
  font-weight: 300 !important;
  //font-size: 10px !important;
}

.w-20 {
  width: 4rem;
}

#page-content {
  padding: 0px;
}
